.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-title {
  position: relative;
  text-align: center;
}

.about-title h1 {
  font-size: 90px;
  font-weight: 600;
  width: 100%;
}

.about-title img {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100px; /* Adjust width for mobile */
}

.about-section {
  display: flex;
 
  gap: 80px; /* Reduce gap for mobile */
}

.about-left {
  display: flex;
  justify-content: center;
}

.about-left img {
  width: 400px; /* Adjust size for mobile */
  height: 500px; /* Adjust size for mobile */
  
  object-fit: cover;
}

.about-right {
  display: flex;
  flex-direction: column;
  
  gap: 80px; /* Reduce gap for mobile */
  
}

.about-para {
display: flex;
flex-direction: column;
gap: 20px;
font-size: 24px;
font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;

}

.about-skill p {
min-width: 150px;
font-size: 24px;
font-weight: 500;
}
.about-skill hr{
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
}

.about-achivement {
  display: flex;
justify-content: space-around;
margin-bottom: 80px;
  width: 100%;
}

.about-achive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;

}

.about-achive h1 {
  font-size: 60px; 
  font-weight: 700;
  background: linear-gradient(264deg,#DF8908 50.41%,#B415FF 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achive p {
  font-size: 22px;
  font-weight: 500;
}
.about-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achive:hover{
  transform: scale(1.12);
  transition: 0.5s;

}

@media (max-width: 750px) {
  .about {
    gap:80px;
    margin: 50px 70px;
    align-items: start;
  }

  .about-title h1 {
      font-size: 50px; 
      padding: 0;
  }

  .about-title img {
      width: 100px; /* Adjust width for mobile */
  }
  .about-section{
    flex-direction: column;
  }

  .about-left{
  display: none;
  }

 

  .about-para {
      font-size: 18px; 
      line-height: 32px;/* Adjust font size for mobile */
  }

  .about-skill{
      gap: 20px;
      align-items: center; 
  }

  .about-skill p {
      font-size: 20px; /* Adjust font size for mobile */
  }
  .about-skill hr{
    height: 6px;
  }

  .about-achivement {
      justify-content: space-between;
  }

  .about-achive  {
      gap: 20px;
      padding: 18px;
  }
  .about-achive h1 {
  font-size: 34px;
  font-weight: 700;
}

  .about-achive p {
      text-align: center;
      font-size: 16px; 
  }
}